{% extends 'base.html.twig' %}
{% block body %}

    {% include 'component/header.html.twig' with {'active': 'team'} %}

    <main>
        <header>
            {% include 'component/avatar-header.html.twig' %}
            <div id="title-page">
                <h1></h1>
            </div>
        </header>
        <body>
        <div id="content">
            <div class="registration-container">
                <h2 class="text-white">Se connecter</h2>
                <form action="{{ path('app_login') }}" method="post">
                    <label class="text-white" for="username">Email:</label>
                    <input type="text" id="username" name="_username" valu="{{ last_username }}" value="Michael.Williams@gmail.com">

                    <label class="text-white" for="password">Password:</label>
                    <input type="password" id="password" name="_password" value="secret">
                    <input type="hidden" name="_target_path" value="/">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class='button button-submit' type="submit">Continuer</button>
                </form>
                <div class="flex-row item-center justify-center pt-20">
                    <p class="text-white">Pas de compte ?</p>
                    <a href="/registration" class="text-white"> S'inscrire</a>
                </div>
            </div>
        </div>
        </body>
    </main>

{% endblock %}