{% extends 'base.html.twig' %}
{% block body %}

    {% include 'component/header.html.twig' with {'active': 'project'} %}

    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <div class="flex-header">
                    <h1>{{ project.name }}</h1>
                    <div class="flex-row user-list">
                        {% for employee in employees %}
                            <div class="avatar">{{ employee.avatar }}</div>
                        {% endfor %}
                    </div>
                    <a class="button" href="{{ path('app_project_item_edit', {'id': project.id}) }}">Modifier</a>
                </div>
            </div>
        </header>
        <body>
        <div id="main-container">
            <div id="content">
                <div id="tasks-container">
                    <div class="task-column">
                        <h2>To Do</h2>
                        <div class="tasks-list">
                            <a class="task" href="tache.html">
                                <h3>Gestion des droits d&#039;accès</h3>
                                <p>Un employé ne peut accéder qu&#039;à ses projets</p>
                                <div class="task-infos">
                                    <div class="task-deadline">
                                        <i class="fa-regular fa-calendar"></i> 22/09/2023
                                    </div>
                                </div>
                            </a>
                            <a href="tache-add.html" class="task-add">
                                + Ajouter une tâche
                            </a>
                        </div>
                    </div>
                    <div class="task-column">
                        <h2>Doing</h2>
                        <div class="tasks-list">
                            <a class="task" href="tache.html">
                                <h3>Développement de la page employé</h3>
                                <p>Page employé avec liste des employés, édition, modification, suppression et création des employés</p>
                                <div class="task-infos">
                                    <div class="task-deadline">
                                        <i class="fa-regular fa-calendar"></i> 14/09/2023
                                    </div>
                                    <div class="mini-user">
                                        DB
                                    </div>
                                </div>
                            </a>
                            <a href="tache-add.html" class="task-add">
                                + Ajouter une tâche
                            </a>
                        </div>
                    </div>
                    <div class="task-column">
                        <h2>Done</h2>
                        <div class="tasks-list">
                            <a class="task" href="tache.html">
                                <h3>Développement de la structure globale</h3>
                                <p>Intégrer les maquettes</p>
                                <div class="task-infos">
                                    <div class="task-deadline">
                                        <i class="fa-regular fa-calendar"></i> 03/09/2023
                                    </div>
                                    <div class="mini-user">
                                        DB
                                    </div>
                                </div>
                            </a>
                            <a class="task" href="tache.html">
                                <h3>Développement de la page projet</h3>
                                <p>Page projet avec liste des tâches, édition, modification, suppression et création des tâches</p>
                                <div class="task-infos">
                                    <div class="mini-user">
                                        ND
                                    </div>
                                </div>
                            </a>
                            <a href="tache-add.html" class="task-add">
                                + Ajouter une tâche
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
    </main>

{% endblock %}