{% extends 'base.html.twig' %}
{% block body %}

    {% include 'component/header.html.twig' with {'active': 'team'} %}

    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <h1>Équipe</h1>
            </div>
        </header>
        <body>
        <h1>Page de de team</h1>
        </body>
    </main>

{% endblock %}